body{
    font-family: "Cabin", sans-serif;
}
/* diseño del nav */
header{
    width: 100%;
    height: auto;
}
nav.navbar.navbar-expand-lg{
    background-color: #373A3C;
}
#titulo{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 35px;
}
button span {
    color: white;
}
a.nav-link{
    color: white;
    font-size: 20px;
}

#imgs{
    border-radius: 10px;
}